# Data Anlysis

Dentro de este notebook se mostrará una parte del proceso de extract, ya que a como se encuentra la informacón segamentada y no clasificada tendríamos que "asumir" muchas cosas para poder "interpretarla", lo cuál sería incorrecto por que al asumir origenes de los datos o valores podríamos incurrir en errores en el análisis de los datos y provocar daños a nuestro cliente "tamales inc".
Lo que podemos realizar de forma más acertada es darle recomendaciones para que al trabajar con empresas terceras como "teinvento inc"; para la recopilación de datos, tenga un formato y estructura más adecuado para los datos.

Dentro de los puntos que se pueden mejorar son:

        1.-En el modelo de "Ventas y precios de campo", ya que se está trabajando en Excel es más fácil para un               usuario agregar datos a las columnas de los archivos.
        2.-Dentro de este mismo modelo, realizar la estandarización para el nombrado de archivos para que sea más accesible para el manejo de la información y puedan aprovecharlos en las demás áreas como marketing,etc.
        3.-Al tener un path  como "./teinvento_inc/ventas_reportadas_mercado_tamales/mx/20200801/" podemos reducirlo másy evitar tantos niveles de carpetas inecesarias, como el caso de MX ya que en los archivos se encuentra el campo "País" podríamos omitir ese nivel de carpetas.
        4.-Para el path de tamal inc "./tamales_inc/ventas_mensuales_tamales_inc/mx/20200801/csv", también podemos omitir varias carpetas ya que sería redundante, como la carpeta "MX", "csv", "Norte", "Sur", "E._Privados" al tener estandarizado que el almacenamiento de datos en formato csv únicamente y también los nombres de los archivos podemos evitar varios niveles de carpetas innecesarias.
        5.-Dentro de los archivos de datos en "Ventas reportadas por ERP", hay varios campos que se pueden optimizar, principalmente donde se colocan las "ventas de sus productos"; dentro del análisis lo nombre "Sales" pero no nos da una idea certera de a que valor se refiere, ya que tiene mucha dispersión, no sabemos que unidades son, es muy fuctuante y de intentarlo aterrizar a "unidades vendidas", "monto mensual", "ganancias", etc no sería un dato que se pueda adaptar ya que su comportamiento en toda la tabla no lo permite.
        6.-Realizar una optimización para reducir la captura de errores por eeror humano al momento de llenar los formularios, que revise estadísticamente (en campos donde sea posible) los datos para buscar outliers.
        


Dentro de la ciencia de datos debemos estar concientes de la responsabilidad que tenemos, los peligros y beneficios de los análisis que hacemos día a día, una frase muy conocida "garbage in, garbage out", no importa que tan bueno sea tu modelo, con la tecnología más avanzada o con la infrestuctura que siempre soñaste, si alimentas a tu modelo o sistema con datos que son "basura" a la salida obtendras "basura".

### Importando librerías

In [ ]:
import os
import sys
import pandas as pd
from pathlib import Path

### Variables Globales para trabajar

In [8]:
#BASE_DIR = Path(__file__).resolve().parent     #For productive environment
report_date = "20200801"
file_names_tamales_inc = ["Centro","E._Privados", "Norte","Sur"]
#BASE_DIR+"/"       #For productive environment
#'./teinvento_inc/ventas_reportadas_mercado_tamales/mx/'   #For testing environment
file_path_teinvento_inc = './teinvento_inc/ventas_reportadas_mercado_tamales/mx/'+report_date+'/fact_table/'
file_names_teinvento_inc = os.listdir(file_path_teinvento_inc)
file_names_teinvento_inc

['part-00001-tid-6121764870548811055-88ba1d42-8428-496a-9c33-6481a07bcd4f-22059-1-c000.csv',
 'part-00005-tid-6121764870548811055-88ba1d42-8428-496a-9c33-6481a07bcd4f-22063-1-c000.csv',
 'part-00003-tid-6121764870548811055-88ba1d42-8428-496a-9c33-6481a07bcd4f-22061-1-c000.csv',
 'part-00002-tid-6121764870548811055-88ba1d42-8428-496a-9c33-6481a07bcd4f-22060-1-c000.csv',
 'part-00000-tid-6121764870548811055-88ba1d42-8428-496a-9c33-6481a07bcd4f-22058-1-c000.csv']

### Definiendo Función Extract

Dentro de las primeras partes del proceso, es poder comprender como se encuentran los datos y la creación de los respectivos Data Frames a trabajar. Aquí

In [5]:
def extract():
    for name in file_names_tamales_inc:
        #BASE_DIR+"/"       #For productive environment
        #'./tamales_inc/ventas_mensuales_tamales_inc/mx/'    #For testing environment
        file_path_tamales_inc = './tamales_inc/ventas_mensuales_tamales_inc/mx/'+report_date+'/csv/'+name+"/ventas_mensuales_"+name+".csv"
        if name == "Centro":
            df = pd.read_csv(file_path_tamales_inc, header = None, names = ['Year','Month','Country','Calorie_type','Flavor','Zone','Resellers_id','Combo_type','Sales'])
        else:
            df_2 = pd.read_csv(file_path_tamales_inc, header = None, names = ['Year','Month','Country','Calorie_type','Flavor','Zone','Resellers_id','Combo_type','Sales'])
            df = df.append(df_2, ignore_index = True)
    df['Month'] = pd.to_datetime(df['Month'], errors = 'coerce', format = "%b")
    df['Month'] = df['Month'].dt.strftime('%m')
    df.convert_dtypes().dtypes
    return df

In [6]:
df = extract()

### Identificando cantidad de variables por cada campo

In [11]:
df.nunique()

2020                     3
Mar                     12
2.9844563877024766E7    28
446676598784             1
85899345920              1
dtype: int64

### Generando una copia del data frame apara trabajar en los cambios

In [7]:
df_n = df.copy(deep = True)
df_n

,Year,Month,Country,Calorie_type,Flavor,Zone,Resellers_id,Combo_type,Sales
0,2019,02,Mexico,Regular,Cajeta,Centro,ABYT055818,Atole mix,6.160000e-14
1,2020,01,Mexico,Regular,Cajeta,Centro,ABYT055818,Atole mix,-4.550000e-13
2,2020,08,Mexico,Regular,Cajeta,Centro,ABYT055818,Atole mix,9.769904e+02
3,2020,03,Mexico,Regular,Arroz,Centro,ABYT057271,Atole mix,-2.360000e-11
4,2020,06,Mexico,Regular,Arroz,Centro,ABYT057271,Atole mix,6.310000e-30
...,...,...,...,...,...,...,...,...,...
9950,2019,08,Mexico,Regular,Dulce,Sur,206050084,Tamal mix,2.283032e+04
9951,2019,10,Mexico,Regular,Dulce,Sur,206050084,Tamal mix,5.680000e-14
9952,2019,10,Mexico,Regular,Dulce,Sur,206050084,Tamal mix,4.222367e+04
9953,2019,10,Mexico,Regular,Dulce,Sur,206050084,Tamal mix,-1.120000e-12
9954,2019,12,Mexico,Regular,Dulce,Sur,206050084,Tamal mix,8.000000e-12

### Visualización de la variable Sales y como se encuentra distribuida muy irregularmente

In [14]:
df_n.describe()

              Year         Sales
count  9955.000000  9.955000e+03
mean   2019.396484  1.888894e+04
std       0.489192  8.850840e+04
min    2019.000000 -6.077668e+03
25%    2019.000000  0.000000e+00
50%    2019.000000  4.158355e+00
75%    2020.000000  4.527593e+03
max    2020.000000  1.739838e+06

In [125]:
df_n = df_n.set_index(['Resellers_id', 'Year', 'Month'])
df_n

                        Country Calorie_type  Flavor    Zone Combo_type  \
Resellers_id Year Month
ABYT055818   2019 02     Mexico      Regular  Cajeta  Centro  Atole mix
             2020 01     Mexico      Regular  Cajeta  Centro  Atole mix
                  08     Mexico      Regular  Cajeta  Centro  Atole mix
ABYT057271   2020 03     Mexico      Regular   Arroz  Centro  Atole mix
                  06     Mexico      Regular   Arroz  Centro  Atole mix
...                         ...          ...     ...     ...        ...
206050084    2019 08     Mexico      Regular   Dulce     Sur  Tamal mix
                  10     Mexico      Regular   Dulce     Sur  Tamal mix
                  10     Mexico      Regular   Dulce     Sur  Tamal mix
                  10     Mexico      Regular   Dulce     Sur  Tamal mix
                  12     Mexico      Regular   Dulce     Sur  Tamal mix

                                Sales
Resellers_id Year Month
ABYT055818   2019 02     6.160000e-14
             2020 01    -4.550000e-13
                  08     9.769904e+02
ABYT057271   2020 03    -2.360000e-11
                  06     6.310000e-30
...                               ...
206050084    2019 08     2.283032e+04
                  10     5.680000e-14
                  10     4.222367e+04
                  10    -1.120000e-12
                  12     8.000000e-12

[9955 rows x 6 columns]

In [120]:
df_n.nunique()

Country            1
Calorie_type       2
Flavor             5
Zone               4
Combo_type         2
Sales           8000
dtype: int64

### Revisando formato de datos de teinvento_inc

In [10]:
file_path_teinvento_inc = './teinvento_inc/ventas_reportadas_mercado_tamales/mx/'+report_date+'/fact_table/'
df_fact = pd.read_csv(file_path_teinvento_inc+file_names_teinvento_inc[0])
df_fact

    2020  Mar  2.9844563877024766E7  446676598784  85899345920
0   2019  Jul          2.686247e+07  446676598784  85899345920
1   2019  May          2.773152e+07  446676598784  85899345920
2   2018  Mar          3.182943e+07  446676598784  85899345920
3   2019  Jun          3.455307e+07  446676598784  85899345920
4   2018  Oct          2.636818e+07  446676598784  85899345920
5   2019  Oct          2.442544e+07  446676598784  85899345920
6   2018  Jun          3.329387e+07  446676598784  85899345920
7   2020  Apr          1.775330e+07  446676598784  85899345920
8   2019  Jan          2.539368e+07  446676598784  85899345920
9   2018  Jul          2.706142e+07  446676598784  85899345920
10  2018  Nov          2.510898e+07  446676598784  85899345920
11  2020  Feb          2.447156e+07  446676598784  85899345920
12  2018  Sep          3.458235e+07  446676598784  85899345920
13  2019  Aug          2.717917e+07  446676598784  85899345920
14  2018  Dec          2.989677e+07  446676598784  85899345920
15  2019  Feb          2.641994e+07  446676598784  85899345920
16  2020  May          1.659486e+07  446676598784  85899345920
17  2018  Apr          2.760818e+07  446676598784  85899345920
18  2018  Feb          2.480917e+07  446676598784  85899345920
19  2019  Mar          3.175517e+07  446676598784  85899345920
20  2018  Aug          2.837437e+07  446676598784  85899345920
21  2019  Apr          2.665588e+07  446676598784  85899345920
22  2018  Jan          2.319514e+07  446676598784  85899345920
23  2019  Nov          2.496582e+07  446676598784  85899345920
24  2018  May          2.696772e+07  446676598784  85899345920
25  2019  Dec          3.135456e+07  446676598784  85899345920
26  2019  Sep          3.235129e+07  446676598784  85899345920
27  2020  Jan          2.579689e+07  446676598784  85899345920